@import '../../../styles/_colors';

.formLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 4rem 2rem;
  border-radius: 3px;
  background-color: $sixth-color;
    background: linear-gradient(135deg, $fifth-color 0%, $sixth-color 100%);
  box-shadow: 3px 3px 8px 0px rgba($fourth-color, 0.25);

  > * {
    font-size: 1.6rem;

    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  label {
    color: $text-color-white;
    font-weight: 600;
  }

  input {
    &[type="text"] {
      color: $text-color-black;
      padding: 0.8rem 1rem;
      border-radius: 5px;
      border: 1px solid $fifth-color;
      outline-color: $second-color;
    }
  }
}
