@import "../../../styles/colors";

img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  object-fit: contain;
  margin-bottom: 2rem;
}

button {
  font-size: 1.6rem;
  padding: 0.5rem 1.5rem;
  border: none;
  background-color: $first-color;
  transition: 0.1s;
  border-radius: 3px;
  box-shadow: 3px 3px 8px 0px rgba($fourth-color, 0.5);

  &:not(:disabled) {
    &:hover {
      background-color: $btn-bg-color;
      transform: translateY(1px);
      box-shadow: 2px 2px 4px 0px rgba($fourth-color, 0.65);
      cursor: pointer;
    }
    &:active {
      transform: translateY(2px);
      box-shadow: 1px 1px 3px 0px rgba($fourth-color, 0.8);
    }
  }
  &.aciveVote {
    box-shadow: 2px 2px 5px 0px rgba($fourth-color, 0.7);
    color: rgba($fourth-color, 0.5);
    transform: translateY(1px);
    background-color: $first-color;
  }
}

.btnBlock > button:not(:last-child) {
  margin-right: 1rem;
}

.nameDate {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.nameDate > p:not(:last-child) {
  margin-right: 0.5rem;
}

.username {
  font-size: 1.6rem;
  font-weight: 600;
}

.date {
  font-style: italic;
}

.votes {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 2rem;
}

.votes span {
  font-weight: 600;
  color: $fourth-color;
}
