.postForm {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin-top: 2rem;
}

.postForm > *:not(:last-child) {
  margin-bottom: 1.6rem;
}
.postForm label {
  font-weight: 600;
}
.postForm input[type="text"] {
  padding: 0.8rem 1rem;
  border-radius: 5px;
  border: 1px solid #67C2D4;
  outline-color: #a2a8d3;
}

.btnGroup button:not(:last-child) {
  margin-right: 2rem;
}
