@import '../../../styles/colors';

.paginator {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  min-height: 5rem;
  margin-bottom: 3rem;
}

.paginator button {
  background-color: $white;
}
