.searchForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  min-height: 6rem;
  margin: 2rem 3rem;
}

.searchForm input[type="text"] {
  font-size: 1.6rem;
  color: #262626;
  padding: 0.8rem 1rem;
  border-radius: 5px;
  border: 1px solid #a2a8d3;
  outline-color: #a2a8d3;
}

.searchForm input[type="text"]::placeholder {
  color: #a2a8d3;
}
