@import '../../../styles/colors';

.commentsList {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: rgba($white, 0);
  padding: 4rem 2rem;
  top: -100%;
  left: 0;
  transition: 0.25s;
}
.comentsOn {
  background-color: rgba($white, 0.95);
  top: 0;
}
.close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  transition: 0.1s;
}
.close:hover {
  cursor: pointer;
  transform: translateY(1px);
}
