$first-color: #e7eaf6;
$second-color: #a2a8d3;
$third-color: #38598b;
$fourth-color: #113f67;
$fifth-color: #67C2D4;
$sixth-color: #3988A4;
$text-color-black: #262626;
$text-color-white: #e0e0e0;
$bg-main-color: #e5e7e7;
$bg-modal-color: rgba(0, 0, 0, 0.75);
$btn-bg-color: #e9ebf4;
$white: white;
